
/*Light Theme */

$primary: hsl(227, 47%, 96%); /* Light grayish blue*/
$secondary: hsl(225, 100%, 98%); /* very pale blue*/
$white: hsl(0, 0%, 100%);
$text-darker: hsl(230, 17%, 14%); /* very dark blue */
$text-lighter: hsl(228, 12%, 44%); /*dark grayish blue */
